.contact {
    background-color: var(--white);
    border: none; 
}

 .contact_btn {
    background-color: var(--black);
    color: var(--white); 
    font-family: var(--readex);
    border-radius: 15px; 
    padding: 10px 20px; 
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-bottom: 25px;
 }

 input {
    border: none; 
    font-size: var(--body);
    font-family: var(--niramit);
    color: var(--gris-noir);
    margin-left: var(--space1x);
    display: block;
    padding-bottom: 2px;
    margin-bottom: var(--space2x);
    border-bottom: 2px solid var(--gris-noir);
    margin-top: var(--space1x);
    margin-left: var(--space1x);
    margin-right: var(--space1x);
    width: 90%;
    background-color: var(--white);
}

textarea {
    border: none; 
    border: none; 
    font-size: var(--body);
    font-family: var(--niramit);
    color: var(--gris-noir);
    margin-left: var(--space1x);
    display: block;
    padding-bottom: 2px;
    margin-bottom: var(--space2x);
    border-bottom: 2px solid var(--gris-noir);
    margin-top: var(--space1x);
    margin-left: var(--space1x);
    width: 90%;
    background-color: var(--white);
}

.label__message {
    display: block;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--gris-noir); 
}

.page__titlecontact {
    font-size: var(--title);
    font-family: var(--readex);
    font-weight: 500;
    color: var(--gris-noir);
    text-align: center;
    margin-top: var(--space3x);
    margin-bottom: var(--space1x);
    margin-left: var(--space1x);
    margin-right: var(--space1x);
}