header {
    background-color: gray;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__logo {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 60px;
    padding-left: 10px;
}

.header__title {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   