.page__title {
    font-size: var(--title);
    font-family: var(--readex);
    font-weight: 500;
    color: var(--gris-noir);
    text-align: center;
    margin-top: var(--space1x);
    margin-bottom: var(--space1x);
}

.intro__text {
    font-size: var(--sous-titre);
    font-family: var(--readex); 
    color: var(--black);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
}

.body {
    font-family: var(--niramit);
    font-size: var(--body);
    color: var(--black);
    margin-left: var(--space2x);
    margin-right: var(--space2x);
}

.title__partie {
    font-size: var(--titre-partie-accueil);
    font-family: var(--readex);
    color: var(--black);
    margin-left: var(--space2x);
    padding-right: var(--space2x);
}


.caroussel__bloc {
    border-bottom: 2px var(--black) solid;
}

.frise__building {
    display: flex;
    background-color: var(--gris-blanc);
    background-size: 20px;
    margin-bottom: var(--space2x);
    margin-top: var(--space2x);
    border-radius: 20px;
    height: 90px;
    border: none;
}   

.frise__img {
    width: 135px;      
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 6%;
    margin-top:-0.5%;   
}

figcaption {
    font-size: var(--sous-titre);
    font-family: var(--readex); 
    color: var(--black);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    text-align: center;
    padding-top: var(--space1x);
}

figcaption a {
    color: var(--black);
}

.date__frise {
    font-size: var(--sous-titre);
    font-family: var(--readex); 
    color: var(--black);
    padding-left: var(--space2x);
    padding-right: var(--space2x);
    text-align: center;
    font-weight: 500;
}

.link__oeuvre {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleche__bas {
    position:relative;
    background: transparent; 
    width: 40px;
    border: none;
    text-decoration: none;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.accordeon {
    display: flex;
    align-items: center;
}

.frise_chronologique {
    display: flex;
    flex-direction: column;
    align-items: center;
}