.menu{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background: #595959;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content:center;
}
.header__menuBtn{
  position:relative;
  z-index: 10;
  background: transparent; 
  width: 50px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  border: none;
}
.noscroll,
.noscroll body {
overflow: hidden;
}

.menu__item {
  text-decoration: none;
  color: inherit;
  color: var(--white);
  font-size: var(--titre-partie-accueil);
  font-family: var(--readex);
}

ul li {
  list-style: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center

}